<h3 class="h3centrado">INGRESAR PRODUCTOS</h3>
<div>
    <img class="aligncenter size-full wp-image-663" src="../images/border-title.png" alt="" width="224" height="21" />
    <br />
</div>
<div class="container mb-3">
    <div class="formulario">
        <div class="col-md-4 float-right">
            <div class="row">
                <div class="col-md-12 align-content-lg-end caja">
                    <form action="/agregarproductos" method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Producto</label>
                            <input type="text" class="form-control" name="producto" aria-describedby="emailHelp" />
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Tipo</label>
                            <input type="text" class="form-control" name="tipo" aria-describedby="emailHelp" />
                        </div>
                        <div class="mb-3">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" name="descripcion" aria-describedby="emailHelp" />
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Stock</label>
                            <input type="number" class="form-control" name="stock" aria-describedby="emailHelp" />
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Costo</label>
                            <input type="text" class="form-control" name="costo" aria-describedby="emailHelp" />
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Precio de venta</label>
                            <input type="text" class="form-control" name="precioventa" aria-describedby="emailHelp" />
                        </div>

                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>