{{{navbar}}}

{{{body}}}

{{!-- <div class="container">
    <h1>home 232323</h1>--}}
    <div class="container">
        <h3 class="h3centrado">NUESTROS EXPERTOS</h3>
        <div>
            <img class="aligncenter size-full wp-image-663" src="../images/border-title.png" alt="" width="224" height="21">
            <br>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../images/Barney_Gumble.png"Card image cap">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Barney</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../images/homero.png" alt="Card image cap">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Homer</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../images/Moe_Skyslak.png" alt="Card image cap">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Moe</h5>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../images/Jeffrey_Albertson.png" alt="Card image cap">
                <div class="card-body">
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Jeff</h5>
                </div>                
            </div>
        </div>
    </div>

